| Value | Level | Meaning |
|-------|-------|---------|
| 3 | <%= color_code_instrumentation(3) %> | We are correctly capturing and measuring data for GitLab.com and self-managed instances. |
| 2 | <%= color_code_instrumentation(2) %> | Missing one of: GitLab.com or self-managed data. |
| 1 | <%= color_code_instrumentation(1) %> | Missing both: GitLab.com and self-managed data. |
| 0 | <%= color_code_instrumentation(0) %> | Unknown |
