---
layout: markdown_page
title: "Azure DevOps"
---
<!-- This is the template for defining sections which will be included in a tool comparison page. This .md file is included in the top of the page and a table of feature comparisons is added directly below it. This template provides the sections which can be included, and the order to include them. If a section has no content yet then leave it out. Leave this note in tact so that others can see where new sections should be added.

<!------------------Begin page additions below this line ------------------ -->

## On this page
{:.no_toc}

- TOC
{:toc}

## Overview

<div class="sdlc-component-container">
   <%# <%= partial "includes/sdlc_comparison_tabs_vue" %>
</div>

<style>
   .flex-cell:nth-of-type(4) {
      display: none;
   }
</style>

## Summary
On September 10, 2018 Microsoft renamed VSTS to Azure DevOps and by Q1 2019 will rename TFS to Azure DevOps Server, and upgrade both with the same new user interface.

Azure DevOps (VSTS) is a hosted cloud offering, and Azure DevOps Server (TFS), is an on-premises version. Both offer functionality that cover multiple stages of the DevOps lifecycle including planning tools, source code management (SCM), and CI/CD. However, first development focus will be to Azure DevOps (SaaS). Their project manager shared that they are releasing on a 3-4 week pace. This seems evident based on their [published roadmap](https://docs.microsoft.com/en-us/azure/devops/release-notes/). The same project manager also shared that Azure DevOps Server (TFS) will be 3-4 months behind on adopting new features (also evident by their published roadmap). They are both from the same code base.

## Azure DevOps-GitLab Comparison Infographic

Here's an infographic that compares Azure DevOps and GitLab.  More detailed comparisons and commentary on strenghts, gaps etc. are in sections below.

![GitLab Azure DevOps Comparison Chart](/devops-tools/azure_devops/images/GitLab-vs-AzureDevOps.jpg)

## Azure DevOps Overview

On September 10, 2018 Microsoft renamed VSTS to Azure DevOps and in Q1 2019 renamed TFS to Azure DevOps Server, and upgraded both with the same new user interface.

Azure DevOps (VSTS) is a hosted cloud offering, and Azure DevOps Server (TFS), is an on-premises version. Both offer services that cover multiple stages of the DevOps lifecycle including planning tools, source code management (SCM), and CI/CD.  **Below is a infographic that aligns Azure DevOps services to the stages of the DevOps Lifecycle.**  Keep in mind that in many cases, when customers say they are using Azure DevOps, they are usually not consumers of the entire Azure DevOps breath of services.  Azure DevOps users typically fall onto one of four categories:
- **Using Source Control Management from Microsoft**
- **Using Requirements Management from Microsoft**
- **Using CI/CD from Microsoft**
- **Using TFS / VSTS from Microsoft**

![Azure Toolchain](/devops-tools/azure_devops/images/Azure-Toolchain.png "Azure Toolchain")

## Azure DevOps to GitLab Decision Kit

- [For the Business Decison Maker](https://about.gitlab.com/devops-tools/azure_devops/AzureDevOps-BDM.html)

- [Version Control & Collaboration](https://about.gitlab.com/devops-tools/azure_devops/AzureDevOps-VCC.html)

- [Continuous Integration](https://about.gitlab.com/devops-tools/azure_devops/AzureDevOps-CI.html)

- [Continuous Delivery](https://about.gitlab.com/devops-tools/azure_devops/AzureDevOps-CD.html)

- [DevSecOps](https://about.gitlab.com/devops-tools/azure_devops/AzureDevOps-DevSecOps.html)

- [Simplifying DevOps](https://about.gitlab.com/devops-tools/azure_devops/AzureDevOps-Simplifying-DevOps.html)

- [License Comparison](https://about.gitlab.com/devops-tools/azure_devops/AzureDevOps-License.html)

- [Azure DevOps News Markers](https://about.gitlab.com/devops-tools/azure_devops/AzureDevOps-News-Markers.html)

- [GitLab Professional Services](https://about.gitlab.com/handbook/customer-success/professional-services-engineering/offerings/)

- [The Microsoft Perspective](https://docs.microsoft.com/en-us/azure/devops/learn/compare/azure-devops-vs-gitlab)

- [GitLab on Microsoft Azure](https://about.gitlab.com/blog/2016/07/13/how-to-setup-a-gitlab-instance-on-microsoft-azure/#gitlab-on-azure)

## Additional Resources
- [Azure DevOps](https://azure.microsoft.com/en-us/services/devops/)
- [Azure DevOps announcement blog](https://azure.microsoft.com/en-us/blog/introducing-azure-devops/)
- [Visual Studio Team Services](https://www.visualstudio.com/team-services/)
- [Team Foundation Server](https://www.visualstudio.com/tfs/)
- [Azure DevOps public roadmap and release history](https://docs.microsoft.com/en-us/azure/devops/release-notes/)
- [Azure DevOps general positioning deck](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=17&cad=rja&uact=8&ved=2ahUKEwjo98_r-bLeAhVlITQIHcPaAqoQFjAQegQIARAC&url=https%3A%2F%2Fwww.pgk.de%2Fpgk%2Fdownloads%2F004-VSTS-TFS_Features_and_Benefits_Deck.pdf&usg=AOvVaw2w3fSaXDirkFgkR4ECxHmg)


## Comparison
