- data.pricing_capabilities.each do |capability|
  - capability_name_parameterized = capability.name.to_s.parameterize
  .modal.compare-modal.fade{ id: "#{capability_name_parameterized}-compare-modal", role: 'dialog' }
    .modal-dialog{ role: 'document' }
      .modal-content
        .modal-header
          %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
            %span{ 'aria-hidden': 'true' } &times;
        .modal-body
          .features-list
            %h3
              #{capability.name} capabilities
            %ul
              - capability.list.each do |feature|
                %li= feature
          .cta-block
            .cta-hosted
              .setup We host GitLab
              .button
                = link_to 'Purchase SaaS', capability.links.hosted, class: 'btn btn-pricing' 
            .cta-self-managed
              .setup You host GitLab
              .button
                = link_to 'Purchase Self-managed', capability.links.self_managed, class: 'btn btn-pricing'
